{% extends 'base.html' %}

{% block content %}

   <form method="POST" action="{% url 'ticket' %}">
    {% csrf_token %}
    <div class="container w-50 my-5">
        {% if selected_seats %}
        <table class="table table-striped p-5 shadow rounded-lg">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Seat</th>
                    <th scope="col">Fare</th>
                </tr>
            </thead>
            <tbody>
                
                {% for seat in selected_seats %}
                <tr>
                    <td scope="row">{{ seat }}</td>
                    <td>{{fare.fare_amount}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>{{total_fare}} TK</strong></td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p class="text-center">No seats selected.</p>
        {% endif %}
        <button type="submit" class="btn btn-primary mt-3">Make Payment</button>

        <input type="hidden" name="seats" value="{{selected_seats}}">
        <input type="hidden" name="date" value="{{ date }}">
        <input type="hidden" name="departure" value="{{ departure }}">
        <input type="hidden" name="destination" value="{{ destination }}">
        <input type="hidden" name="train" value="{{ train }}">
        <input type="hidden" name="total_fare" value="{{ total_fare }}">
    </div>
   </form>
{% endblock content %}
